.nav-item.active{
  background-color:#e3e3e3;
  color: white;
  }
  
  .sidebar .nav .nav-item.nav-profile .nav-link{padding:14px 14px 17px 14px;}
  .sidebar .nav .nav-item.nav-profile .profile-name .name {font-size: 16px;}
  .sidebar .nav .nav-item.nav-profile .profile-name .designation {font-size: 10px;}
  .profile{height:40px !important;width:40px !important;}
  .sidetxt{font-size: 15px !important;color: #232527 !important;}
  .iconcolr{color:#232527 !important;}
  .sidebar{background-color: #FFFFFF !important;}
  .prfletxt{color: #232527 !important;}
  .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
  background: #E3E3E3;
  color: #000; }
  .sidebar .nav .nav-item.nav-profile
  {
  border:none !important; 
  }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile
  {
  border:none !important; 
  }
  .nav-item
  {
  border:none !important; 
  }
  .footer a
  {
  color:#232527; 
  }
  .breadcrumb {
  border: none !important;
  padding: 0rem;
  margin-top: -7px !important;
  background-color:#232527;
  }
  #header
  {
  padding: 0rem 1.81rem;
  
  padding-top: 2%;
  }
  .navbar.navbar-success .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
  border-color: #00AAE7;
  }
  .chartjs-render-monitor
  { 
  width:522px;
  height:270px !important;
  margin-top:28px; 
  }
  .fa-plus:hover
  {
  font-size:17px; 
  cursor:pointer;
  }
  .navbar .navbar-brand-wrapper
  {
  background-color:#232527; 
  }
  .fa-sign-out {
  font-size: 19px;
  }

  input[type="file"] {
    display: none;
   
    } 



    
    #error {
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: -5px;
      width:-moz-fit-content;
      width:-webkit-fit-content;
      padding: 2px 4px;
      position: relative;
      background-color: #232527;
      color: #FFFFFF !important;
      font-size: 12px;
  }
  
  
    #error:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0;
      height: 0;
      content: '';
      z-index: 2;
      border-bottom: 7px solid #232527;
      -moz-transform: scale(0.9999);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    #error1 {
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 7px;
      width:-moz-fit-content;
      width:-webkit-fit-content;
      padding: 2px 4px;
      position: relative;
      background-color: #232527;
      color: #FFFFFF !important;
      font-size: 12px;
  }
  #error1:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0;
      height: 0;
      content: '';
      z-index: 2;
      border-bottom: 7px solid #232527;
      -moz-transform: scale(0.9999);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    #error2 {
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 7px;
      width:-moz-fit-content;
      width:-webkit-fit-content;
      padding: 2px 4px;
      position: relative;
      background-color: #232527;
      color: #FFFFFF !important;
      font-size: 12px;
  }
  #error2:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -6px;
      left: 19px;
      width: 0;
      height: 0;
      content: '';
      z-index: 2;
      border-bottom: 7px solid #232527;
      -moz-transform: scale(0.9999);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    #error3 {
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0;
      width:-moz-fit-content;
      width:-webkit-fit-content;
      padding: 2px 4px;
      position: relative;
      background-color: #232527;
      color: #FFFFFF !important;
      font-size: 12px;
  }
  #error3:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0;
      height: 0;
      content: '';
      z-index: 2;
      border-bottom: 7px solid #232527;
      -moz-transform: scale(0.9999);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    } 
    #error4 {
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0;
      width:-moz-fit-content;
      width:-webkit-fit-content;
      padding: 2px 4px;
      position: relative;
      background-color: #232527;
      color: #FFFFFF !important;
      font-size: 12px;
  }
  #error4:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -6px;
      left: 19px;
      width: 0;
      height: 0;
      content: '';
      z-index: 2;
      border-bottom: 7px solid #232527;
      -moz-transform: scale(0.9999);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    .jumping-dots-loader span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #00aae7 !important;
   padding: 10px;
    }
    .dirty{
      border: 1px solid #ef4048!important;
  
  }
  .dirty1{
      border: 1px solid #ef4048!important;
  
  }
  .dirty2{
      border: 1px solid #ef4048!important;
  
  }
  .non_dirty{
      border:1px solid green !important;
     
  }
  .inital {
      border:1px solid  #00AAE7 !important;
     
  }
  
  
  .row-helight:hover{
      background-color: #f1f1f1;
  }
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
  border: none !important;
}
  

//   @media screen and (max-width: 980px) and (min-width: 260px) {
//   .sidebar{
//       right:0;
//   }
// .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right)  {
//     display: none;;
//   }
//   #menu1
//   {
//     display:inline !important;
//   }
// }

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 83%;
    width: 20px;
    height: 20px;
    margin-top: -6px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid#ffffff;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -moz-animation: spinner .6s linear infinite !important;
  }
  

  


  .lds-ring {
    display: inline-block;
    position: relative;
   
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 10px;
    height: 15px;
    margin: 1px;
    border: 6px solid #fff;
    border-radius: 30%;
    animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }